.root {
	}
	
#login-button-pane {
	-fx-alignment: TOP-RIGHT;
	-fx-padding: 5;
}

.label {
	-fx-font-size: 14px;
}

#log-title {
	-fx-font-size: 32px;
	-fx-font-weight: bold;
	-fx-font-family: "Arial Black"
}
